.about {
  @include container-mobile;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include container-tablet;
    padding-top: 50px;
    padding-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
    padding-left: 225px;
    padding-right: 225px;
    padding-bottom: 90px;
  }
}

.about__title {
  @include title-mobile;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
  }
}

.about__list {
  @include list-unstyled;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 70px;
    row-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 85px;
    row-gap: 60px;
  }
}

.about__item:not(:last-of-type) {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.about__link {
  @include link;

  display: block;
  padding-top: 55px;
  position: relative;

  font-weight: 700;

  &:hover {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
  }

  &--eco::before {
    width: 33px;
    height: 38px;

    background-image: url("../img/icon-feature-eco.svg");
  }

  &--price::before {
    width: 47px;
    height: 27px;

    background-image: url("../img/icon-feature-price.svg");
  }

  &--love::before {
    width: 34px;
    height: 27px;

    background-image: url("../img/icon-feature-love.svg");
  }

  &--hands::before {
    width: 35px;
    height: 34px;

    background-image: url("../img/icon-feature-hands.svg");
  }

  &--support::before {
    width: 55px;
    height: 23px;

    background-image: url("../img/icon-feature-support.svg");
  }

  &--gift::before {
    width: 33px;
    height: 32px;

    background-image: url("../img/icon-feature-gift.svg");
  }
}
