.button {
  @include link;

  display: block;
  padding: 15px;
  box-sizing: border-box;

  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;

  background-color: transparent;
  border: 2px solid $basic-dark;
  cursor: pointer;

  &:hover {
    color: $basic-extra-light;
    background-color: $basic-dark;
    border-color: transparent;
  }

  &:active {
    color: rgba($color: $basic-extra-light, $alpha: $opacity-active);
  }
}

.button--special {
  background-color: $special-light;
  border-color: transparent;
  color: $basic-extra-light;

  &:hover {
    background-color: $special-dark;
  }
}
