.contacts {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 70px;
    padding-bottom: 100px;
  }
}

.contacts__wrapper {
  @media (min-width: $desktop-width) {
    @include container-desktop;
    padding-left: 225px;

    display: grid;
    grid-template-columns: auto 527px;
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
  }
}

.contacts__text {
  @include container-mobile;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 85px;
    padding: 0;
    width: auto;

    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
}

.contacts__title {
  @include title-mobile;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    position: relative;
    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      right: 0;

      width: 47px;
      height: 81px;

      background-image: url("../img/icon-flag.svg");
    }
  }

  @media (min-width: $desktop-width) {
    @include title-desktop;

    &::after {
      left: -110px;
    }
  }
}

.contacts__info {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, min-content);
    row-gap: 30px;
  }
}

.contacts__group {
  display: flex;
  align-items: flex-start;

  font-size: 14px;
  line-height: 30px;

  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}

.contacts__email {
  @include link;
  margin-left: 30px;
  border-bottom: 1px solid $special-light;

  &:hover {
    color: $special-light;
  }

  &:active {
    opacity: $opacity-active;
  }
}

.contacts__address {
  margin-left: 30px;
  font-style: normal;
}

.contacts__map {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-top: 50px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    margin: 0;
    text-align: start;
  }
}

.contacts__button {
  @include container-mobile;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}

.contacts__write {
  @media (min-width: $tablet-width) {
    justify-self: center;
    min-width: 230px;
  }
}
