.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright__text {
  margin-right: 30px;
}

.copyright__logo {
  & svg {
    fill: $special-light-hover;
  }

  &:hover svg {
    fill: $special-dark-hover;
  }

  &:active {
    opacity: $opacity-active;

    & svg {
      fill: $special-dark-hover;
    }
  }
}
