.hero {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 490px;

  background-color: $background-hero;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -30px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    position: relative;
    min-height: 746px;

    background-image: url("../img/hero-desktop@1x.jpg");
    background-position: center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: 768px auto;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 24px;
      background-image: url("../img/zigzag-fill-tablet.svg");
      background-repeat: repeat-x;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      bottom: -2px;
      height: 34px;
      background-image: url("../img/zigzag-fill-desktop.svg");
    }
  }
}

.hero__wrapper {
  @include container-mobile;

  @media (min-width: $tablet-width) {
    @include container-tablet;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.hero__title {
  margin: 0;
  padding-top: 70px;

  font-size: 28px;
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 44px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    @include title-desktop;

    margin: 0 auto;
    margin-top: 150px;
    padding: 0;
    width: 700px;
  }
}

.hero__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    @include container-tablet;
    flex-direction: row;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
  }
}

.hero__button {
  @include link;

  box-sizing: border-box;
  padding: 30px;
  padding-top: 25px;
  width: 100%;

  font-weight: 700;
  color: $basic-extra-light;

  background-repeat: no-repeat;
  background-position: right 30px center;

  &:active {
    color: rgba($color: $basic-extra-light, $alpha: $opacity-active);
  }

  &--interior {
    background-color: $special-light;
    background-image: url("../img/icon-interior.svg");
    background-position-y: 25px;

    &:hover {
      background-color: $special-light-hover;
    }
  }

  &--toys {
    background-color: $special-dark;
    background-image: url("../img/icon-toys.svg");
    background-position-y: 25px;

    &:hover {
      background-color: $special-dark-hover;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 45px;
    padding-left: 35px;

    font-size: 20px;
    line-height: 30px;
  }
}
