.knit-baskets {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
  }

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 60px;

    &::after {
      height: 17px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
  }
}

.knit-baskets__wrapper {
  @include container-mobile;

  @media (min-width: $tablet-width) {
    @include container-tablet;

    display: grid;
    grid-template-areas:
      "title title"
      "text image"
      "table image"
      "buttons image";
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, min-content);
  }
}

.knit-baskets__title-wrapper {
  @media (min-width: $tablet-width) {
    margin-bottom: 40px;
    grid-area: title;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    margin-bottom: 35px;

    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }
}

.knit-baskets__title {
  @include title-mobile;

  @media (min-width: $tablet-width) {
    @include title-tablet;
  }

  @media (min-width: $desktop-width) {
    @include title-desktop;
    padding-left: 175px;
  }
}

.knit-baskets__label {
  font-size: 18px;
  font-weight: 700;
  color: $special-light;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 100px;

    line-height: 18px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    left: 50px;
  }
}

.knit-baskets__text {
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    grid-area: text;
    margin: 0;
    margin-bottom: 50px;

    font-size: 18px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 175px;
  }
}

.knit-baskets__features {
  width: 100%;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 24px;

  & tr {
    border-bottom: 1px solid $basic-neutral;
  }

  @media (min-width: $tablet-width) {
    grid-area: table;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    padding-left: 175px;
    margin-bottom: 110px;
  }
}

.knit-baskets__order-group {
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    grid-area: buttons;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    padding-left: 175px;
  }
}

.knit-baskets__price {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
    font-size: 20px;
    line-height: 24px;
  }
}

.knit-baskets__image {
  @media (min-width: $tablet-width) {
    grid-area: image;

    & img {
      width: 334px;
      height: 404px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;

    & img {
      width: 525px;
      height: 636px;
    }
  }
}
