.modal {
  position: relative;

  box-sizing: border-box;
  margin: auto;

  background-color: $basic-extra-light;
  border: 1px solid $basic-neutral;
  box-shadow: 0px 6px 10px rgba($basic-extra-dark, 0.1);

  &--cart {
    width: 320px;
    min-height: 336px;
    padding: 30px;

    @media (min-width: $tablet-width) {
      width: 570px;
      padding-top: 40px;
      padding-left: 110px;
      padding-right: 110px;
    }
  }

}

.modal__close {
  position: absolute;
  top: 30px;
  right: 30px;

  width: 20px;
  height: 20px;

  border: 0;
  background-color: transparent;
  background-image: url(../img/icon-cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
