.page {
  height: 100%; // for sticky-footer
}

.page__body {
  margin: 0;
  display: grid; // for sticky-footer
  grid-template-rows: min-content 1fr min-content; // for sticky-footer

  min-width: $mobile-width;
  min-height: 100%; // for sticky-footer

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: $basic-extra-dark;
  background-color: $basic-extra-light;
}
