.reviews {
  padding-top: 30px;
  padding-bottom: 30px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
  }

  @media (min-width: $tablet-width) {
    padding: 0;

    &::after {
      height: 17px;
      background-image: url("../img/zigzag-line-desktop.svg");
    }
  }
}

.reviews__wrapper {
  @include container-mobile;

  @media (min-width: $tablet-width) {
    @include container-tablet;
    position: relative;

    padding-top: 80px;
    padding-bottom: 100px;
    background-image: url("../img/reviews@1x.jpg");
    background-repeat: no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/reviews@2x.jpg");
      background-size: 350px auto;
    }
  }

  @media (min-width: $desktop-width) {
    @include container-desktop;
    padding-left: 225px;
    padding-bottom: 170px;

    background-position-x: 50px;
  }
}

.reviews__title {
  @include title-mobile;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    @include title-tablet;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    @include title-desktop;
  }
}

.reviews__list {
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0;
  margin-bottom: 30px;

  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 45px;
  }
}

.reviews__author {
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.reviews__author-nickname {
  display: block;
  font-weight: 400;
}

.reviews__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 100px;
    right: 50px;

    margin: 0;
    grid-template-columns: repeat(2, auto);
  }

  @media (min-width: $desktop-width) {
    bottom: 170px;
  }
}

.reviews__button {
  box-sizing: border-box;
  min-height: 50px;
  padding: 15px;

  border: 1px solid $basic-neutral;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.3s;

  &--next {
    background-image: url("../img/icon-huge-arrow-right.svg");
  }

  &--prev {
    background-image: url("../img/icon-huge-arrow-left.svg");
  }

  &:hover {
    opacity: $opacity-hover;
  }

  &:active {
    opacity: $opacity-active;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    width: 50px;
    border: none;

    &--prev {
      margin-right: 40px;
    }
  }
}

.reviews__write {
  @media (min-width: $tablet-width) {
    position: absolute;
    top: 80px;
    right: 50px;
    min-width: 175px;
  }
}
