.social {
  padding-bottom: 30px;
  border-bottom: 1px solid $basic-neutral;
}

.social__list {
  @include list-unstyled;

  display: flex;
  justify-content: center;
}

.social__item {
  margin-right: 30px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  &:hover svg {
    fill: $special-dark-hover;
  }

  &:active {
    opacity: $opacity-active;

    & svg {
      fill: $special-dark-hover;
    }
  }
}

@media (min-width: $tablet-width) {
  .social {
    padding: 0;
    border: none;
  }
}
