.social {
  padding-bottom: 30px;
  border-bottom: 1px solid $basic-neutral;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: none;
  }
}

.social__list {
  @include list-unstyled;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px 30px;
}

.social__link {
  & svg {
    transition: 0.3s;
  }

  &:hover svg {
    fill: $special-dark-hover;
  }

  &:active {
    opacity: $opacity-active;

    & svg {
      fill: $special-dark-hover;
    }
  }
}
