@mixin container-mobile {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  width: $mobile-width;
  box-sizing: border-box;
}

@mixin container-tablet {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: $tablet-width;
  box-sizing: border-box;
}

@mixin container-desktop {
  margin-left: auto;
  margin-right: auto;
  padding-left: 50px;
  padding-right: 50px;
  width: $desktop-width;
  box-sizing: border-box;
}

@mixin title-mobile () {
  margin: 0;
  font-size: 24px;
  line-height: 30px;
}

@mixin title-tablet () {
  font-size: 44px;
  line-height: 50px;
}

@mixin title-desktop () {
  font-size: 54px;
  line-height: 58px;
}

@mixin link () {
  text-decoration: none;
  color: $basic-extra-dark;
}

@mixin list-unstyled () {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
