// Цвета
$basic-dark: #444444;
$basic-extra-dark: #000000;
$basic-neutral: #E5E5E5;
$basic-light: #F1F1F1;
$basic-extra-light: #ffffff;
$special-light: #63d1bb;
$special-dark: #56C3B2;
$special-light-hover: #59D5BC;
$special-dark-hover: #46C1AE;
$background-hero: #F9F9F9;

// Ширины
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

// Прочее
$opacity-hover: 0.6;
$opacity-active: 0.3;
