@mixin container {
  width: 1170px;
  margin: 0 auto;
  padding: 0 20px;
  margin-top: 80px;
}

@mixin title () {
  margin: 0;
  font-size: 32px;
  line-height: 46px;
  text-align: center;
}

@mixin link () {
  text-decoration: none;
  color: $basic-extra-dark;
}

@mixin list-unstyled () {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
